<div class="ms-2 me-2 mt-2">
  <p-table [value]="pendingEvents" styleClass="p-datatable-striped p-datatable-sm" [scrollable]="true"
    scrollHeight="400px">
    <ng-template pTemplate="caption">
      <div class="table-header">Pending events</div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of pendingEventsCols">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-event>
      <tr>
        <td *ngFor="let col of pendingEventsCols">
          <div *ngIf="col.field == 'actions'; else elseCondition">
            <button pButton pRipple type="button" icon="pi pi-check"
              class="p-button-sm p-button-rounded p-button-outlined me-1"></button>
            <button pButton pRipple type="button" icon="pi pi-times"
              class="p-button-sm p-button-rounded p-button-danger p-button-outlined"></button>
          </div>
          <ng-template #elseCondition>
            {{ event[col.field] }}
          </ng-template>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="ms-2 me-2 mt-3">
  <p-table [value]="pendingUsers" styleClass="p-datatable-striped p-datatable-sm" [scrollable]="true"
    scrollHeight="400px">
    <ng-template pTemplate="caption">
      <div class="table-header">Pending petitions</div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of pendingUsersCols">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td *ngFor="let col of pendingUsersCols">
          <div *ngIf="col.field == 'actions'; else elseCondition">
            <button pButton pRipple type="button" icon="pi pi-check"
              class="p-button-sm p-button-rounded p-button-outlined me-1"></button>
            <button pButton pRipple type="button" icon="pi pi-times"
              class="p-button-sm p-button-rounded p-button-danger p-button-outlined"></button>
          </div>
          <ng-template #elseCondition>
            {{ user[col.field] }}
          </ng-template>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>