<div class="row me-2 ms-2 mt-2">
    <div class="d-flex justify-content-center mb-2">
        <div class="row">
            <div class="col-3 d-flex justify-content-center">
                <button pButton pRipple type="button" icon="fas fa-chevron-left"
                    class="p-button-rounded p-button-outlined" mwlCalendarPreviousView [view]="view"
                    [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()"></button>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <button pButton type="p-button-sm" label="Today" mwlCalendarToday [(viewDate)]="viewDate"></button>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <button pButton pRipple type="button" icon="fas fa-chevron-right"
                    class="p-button-rounded p-button-outlined" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()"></button>
            </div>
        </div>
        <!-- <div class="row d-flex justify-content-center">
            <p-dropdown [options]="views" [(ngModel)]="selectedView" (onChange)="setView()"></p-dropdown>
        </div> -->
    </div>

    <mwl-calendar-week-view [viewDate]="viewDate" [events]="events" [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
</div>